// priority: high
.accordion-button-high:not(.collapsed) {
  color: black;
  background-color: #ff070771;
}

.accordion-button-high {
  background-color: #f8f9fa;
  color: black;
  border-left: 5px solid #ff0707;
}

.accordion-body-high {
  border-left: 5px solid #ff0707;
}

// priority: medium
.accordion-button-medium:not(.collapsed) {
  color: black;
  background-color: #ffc10771;
}

.accordion-button-medium {
  background-color: #f8f9fa;
  color: black;
  border-left: 5px solid #ffc107;
}

.accordion-body-medium {
  border-left: 5px solid #ffc107;
}

// priority: low
.accordion-button-low:not(.collapsed) {
  color: black;
  background-color: #07ff3071;
}

.accordion-button-low {
  background-color: #f8f9fa;
  color: black;
  border-left: 5px solid #07ff13;
}

.accordion-body-low {
  border-left: 5px solid #1cff07;
}

.accordion-button::after {
  filter: brightness(0); /* hace que se vea negra */
}

.accordion-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.btn-trigger-personality {
  background: radial-gradient(circle at top left, #2a9d8f, #4caf50 70%);
  border: none !important;
  transition: background-color 0.3s ease;
}

.btn-trigger-personality:hover {
  background: radial-gradient(circle at top left, #1a635a, #4caf50 70%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-description {
  background-color: #e3e3e4a1 !important;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: #333;
}

.checkbox-container {
  .form-check-input {
    border-radius: 0.25rem;
    border: 1px solid #1f1f1f;
  }

  .form-check-input:checked {
    background-color: #0bed3f;
    border-color: #0bed3f;
  }
}

.title-checked {
  color: gray;
  text-decoration: line-through;
}

// dark mode styles

html[data-bs-theme="dark"] .bg-white {
  background-color: #1f1f1f !important;
  color: #e0e0e0 !important;
}

// Priority: High
html[data-bs-theme="dark"] .accordion-button-high:not(.collapsed) {
  color: #e0e0e0 !important;
  background-color: #ff070771 !important;
}
html[data-bs-theme="dark"] .accordion-button-high {
  background-color: #2c2c2c !important;
  color: #e0e0e0 !important;
  border-left: 5px solid #ff0707;
}
html[data-bs-theme="dark"] .accordion-body-high {
  border-left: 5px solid #ff0707;
}

// Priority: Medium
html[data-bs-theme="dark"] .accordion-button-medium:not(.collapsed) {
  color: #e0e0e0 !important;
  background-color: #ffbf00a8 !important;
}

html[data-bs-theme="dark"] .accordion-button-medium {
  background-color: #2c2c2c !important;
  color: #e0e0e0 !important;
  border-left: 5px solid #ffc107;
}

// Priority: Low
html[data-bs-theme="dark"] .accordion-button-low:not(.collapsed) {
  color: #e0e0e0 !important;
  background-color: #07ff3071 !important;
}
html[data-bs-theme="dark"] .accordion-button-low {
  background-color: #2c2c2c !important;
  color: #e0e0e0 !important;
  border-left: 5px solid #07ff13;
}

html[data-bs-theme="dark"] .accordion-body-low {
  border-left: 5px solid #1cff07;
}

html[data-bs-theme="dark"] .accordion-button::after {
  filter: brightness(2);
}

html[data-bs-theme="dark"] .title-checked {
  color: rgb(177, 177, 177) !important;
  text-decoration: line-through;
}
