<form [formGroup]="taskForm" (submit)="onSubmit()">
  <fieldset class="mb-3">
    <label for="title" class="form-label fw-bolder">Titulo *</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{'is-invalid': title.invalid && title.touched}"
      id="title"
      formControlName="title"
      placeholder="Escribe el título de la tarea..."
    />
    @if (title.invalid && title.touched) {
    <p class="invalid-feedback">El título es requerido</p>
    }
  </fieldset>

  <fieldset class="mb-3">
    <label for="description" class="form-label fw-bolder">Descripción</label>
    <textarea
      class="form-control"
      id="description"
      rows="3"
      formControlName="description"
      placeholder="Escribe la tarea en detalle..."
    ></textarea>
  </fieldset>

  <div class="row mb-3">
    <fieldset class="col">
      <label for="priority" class="form-label fw-bolder">Prioridad</label>
      <select id="priority" class="form-select" formControlName="priority">
        <option>🟢 Baja</option>
        <option selected>🟡 Media</option>
        <option>🔴 Alta</option>
      </select>
    </fieldset>

    <fieldset class="col">
      <label for="dueDate" class="form-label fw-bolder"
        >Fecha de Vencimiento</label
      >
      <input
        type="date"
        id="dueDate"
        name="dueDate"
        class="form-control"
        formControlName="dueDate"
        [ngClass]="{'is-invalid': dueDate.invalid && dueDate.touched}"
        [min]="minDate"
        placeholder="📅Seleccionar fecha"
      />
    </fieldset>
  </div>
  <div class="row mb-3">
    <fieldset class="col-10">
      <label for="tags" class="form-label fw-bolder">Etiquetas</label>
      <input
        type="text"
        class="form-control"
        #tagInput
        (keyup.enter)="addTag(tagInput)"
        placeholder="Agregar etiqueta..."
      />
    </fieldset>
    <div class="col-2 d-flex align-items-end">
      <button class="btn btn-dark" type="button" (click)="addTag(tagInput)">
        +
      </button>
    </div>
    <div class="pt-2 gap-2 d-flex flex-wrap">
      @for (tag of tags.value; track $index) {
      <p class="badge bg-secondary h-100 d-inline-flex align-items-center   ">
        {{tag}}
        <button
          type="button"
          class="btn-close btn-close-white btn-sm ms-1"
          aria-label="Eliminar"
          (click)="removeTag(tag)"
        ></button>
      </p>
      }
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Close
    </button>
    <button [disabled]="taskForm.invalid" type="submit" class="btn btn-primary">
      Save changes
    </button>
  </div>
</form>
